body {
	font-family: 'Quicksand', sans-serif;
}
.the-days {
	text-align: center;
	color: #00cccc;
}
#top {
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid #00cccc;
}
#search {
	margin-top: 4px;
	float: right;
	font-size: 20px;
	color: #00cccc;
}
#nav {
	height: 40px;
	background-color: #00cccc;
}
#nav-left, #nav-mid, #nav-right {
	text-align: center;
	height: 50px;
	color: white;
}
#nav-left {
	border-right: 1px solid white;
}
#nav-mid {
	border-right: 1px solid white;
}
#user {
	font-size: 30px;
	margin-top: 8px;
	margin-right: 15px;
}
#workout {
	font-size: 30px;
	margin-top: 8px;
}
#calendar {
	font-size: 30px;
	margin-left: 15px;
	margin-top: 8px;
}
#day {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 15px;
}
/*PROFILE*/
#user-con {
	text-align: center;
}
#user-edit-con {
	text-align: center;
	height: 1000px;
}
.user-pic {
	margin: auto;
	margin-top: 15px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
}
#edit-profile {
	width: 100%;
	border: 1px solid #00cccc;
	color: #ff5050;
}
.profile-pic {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 1px solid #00cccc;
}
.user-info {
	line-height: 10px;
	color: #bfbfbf;
}
/*EDIT-PROFILE*/
.change-pic {
	color: #ff5050;
}
.user-username {
	color: #00cccc;
}
#save {
	margin-top: 15px;
	width: 100%;
	border: 1px solid #00cccc;
	color: #ff5050;
}
.caption {
	color: #00cccc;
	float: left;
}
/*WORKOUT NAV*/
.nav>li>a {
	padding-left: 6px;
	padding-right: 6px;
	color: #00cccc;
}
#lifts-con {
	height: 1000px;
}
.type {
	color: #00cccc;
}
.nobot {
	color: #bfbfbf;
}
.nobots {
	color: #00cccc;
}
#add {
	background-color: white;
	border: 1px solid #00cccc;
	color: #00cccc;
	width: 40px;
}
.plus-minus {
	color: #bfbfbf;
}
.day {
	color: #00cccc;
	text-align: center;
}
.dumbbell {
	display: inline-block;
	height: 40px;
	width: 40px;
}
.cart-num {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.number {
	margin-top: 5px;
	margin-left: 2px;
	display: inline-block;
	font-size: 20px;
	color: #00cccc;
}
.items-num {
	display: inline-block;
	text-align: center;
	height: 40px;
	width: 40px;
	border: 1px solid #00cccc;
	border-radius: 100%;
}
.seperator {
	display: inline-block;
	font-weight: lighter;
	padding-left: 10px;
	padding-right: 10px;
	color: #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 1px solid #00cccc;
	color: #00cccc;
	border-top: none;
	border-bottom-color: #fcfcfc;
	background-color: white;
}
.nav > li > a {
	color: #bfbfbf;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 0px;
}
.nav-tabs {
	border-bottom-color: #00cccc;
}
.nav-tabs > li.active > a {
	border-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


#open-close {
	float: right;
	display: inline-block;
	background-color: white;
	color: #00cccc;
	border: 1px solid #00cccc;
}
.workout-days {
	color: #00cccc;
	display: inline-block;
}
.strike {
	height: 2px;
	width: 100%;
	background-color: #ddd;
}
#days table {
	display: inline-block;
}
.well {
	background-color: white;
	border-bottom: none;
	margin: 0px;
	padding: 0px;
}
.days-con {
	margin-top: 5px;
}
.item-name {
	color: #00cccc;
	width: 25vw;
}
.nobot {
	color: #00cccc;
}
.it {
	color: #00cccc;
}
#item-remove {
	background-color: white;
	border: 1px solid red;
	color: red;
	width: 40px;
}
#td {
	color: #00cccc;
	text-align: center;
	vertical-align: middle;
}
#tq {
	color: #00cccc;
	vertical-align: middle;
}
.x {
	width: 5px;
}
#x {
	width: 5px;
}
.nav-day {
	text-align: center;
	color: #00cccc;
}



#mon, #tue, #wed, #thu, #fri, #sat {


}
.row {
	text-align: center;
}
.nav-days-con {
	display: inline-block;
	height: 50px;
	width: 49px;
	text-align: center;
}
.nav-days {
	display: inline-block;
	margin-top: 13px;
	/*margin-left: 5px;
	margin-right: 5px;*/
	color: white;

}
#top-nav {
	height: 50px;
	background-color: #00cccc;
	border-bottom-color: #00cccc;
}
.input-con {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.inputs-con {
	display: inline-block;
}
.well {
	border: 1px solid white;
}
.plus-minus {
	color: #00cccc;
}
.nobot, .plus-minus {
	text-align: center;
}


#top-navs {
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #00cccc;
}

.nav-day {
	display: inline-block;
	margin-top: 13px;
	/*margin-left: 5px;
	margin-right: 5px;*/
	color: #00cccc;

}
.nav-dayx {
	text-align: center;
	color: #00cccc;
}






















