<div class="container-fluid" id="lifts-con">
	<h4 class="type">Upper</h4>
	<table class="table">
		<thead>
			<tr>
				<th class="nobot">Lift</th>
				<th class="nobot">Reps</th>
				<th class="nobot">Sets</th>
				<th class="nobot">Weight</th>
				<th class="plus-minus">+  /  -</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" id="item-name" ng-model="activity.name"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.reps"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.sets"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.weight"></td>
				<td><button class="btn btn-success" id="add" ng-click="addUpperWed()">+</button>
			</tr>
			<tr ng-repeat="activity in activitysArray | filter : { type: 'upper', day: 'wednesday' }">
				<td id="td">{{activity.name}}</td>
				<td id="tdq">{{activity.reps}}</td>
				<td id="tdq">{{activity.sets}}</td>
				<td id="tdq">{{activity.weight}}</td>
				<td><button class="btn btn-danger" id="item-remove" ng-click="delete(activity._id)">-</button></td>
			</tr>
		</tbody>
	</table>
	<h4 class="type">Lower</h4>
	<table class="table">
		<thead>
			<tr>
				<th class="nobot">Lift</th>
				<th class="nobot">Reps</th>
				<th class="nobot">Sets</th>
				<th class="nobot">Weight</th>
				<th class="plus-minus">+  /  -</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" id="item-name" ng-model="activity.name"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.reps"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.sets"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.weight"></td>
				<td><button class="btn btn-success" id="add" ng-click="addLowerWed()">+</button>
			</tr>
			<tr ng-repeat="activity in activitysArray | filter : { type: 'lower', day: 'wednesday' }">
				<td id="td">{{activity.name}}</td>
				<td id="tdq">{{activity.reps}}</td>
				<td id="tdq">{{activity.sets}}</td>
				<td id="tdq">{{activity.weight}}</td>
				<td><button class="btn btn-danger" id="item-remove" ng-click="delete(activity._id)">-</button></td>
			</tr>
		</tbody>
	</table>
	<h4 class="type">Core</h4>
	<table class="table">
		<thead>
			<tr>
				<th class="nobot">Lift</th>
				<th class="nobot">Reps</th>
				<th class="nobot">Sets</th>
				<th class="nobot">Weight</th>
				<th class="plus-minus">+  /  -</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" id="item-name" ng-model="activity.name"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.reps"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.sets"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.weight"></td>
				<td><button class="btn btn-success" id="add" ng-click="addCoreWed()">+</button>
			</tr>
			<tr ng-repeat="activity in activitysArray | filter : { type: 'core', day: 'wednesday' }">
				<td id="td">{{activity.name}}</td>
				<td id="tdq">{{activity.reps}}</td>
				<td id="tdq">{{activity.sets}}</td>
				<td id="tdq">{{activity.weight}}</td>
				<td><button class="btn btn-danger" id="item-remove" ng-click="delete(activity._id)">-</button></td>
			</tr>
		</tbody>
	</table>
	<h4 class="type">Cardio</h4>
	<table class="table">
		<thead>
			<tr>
				<th class="nobot">Lift</th>
				<th class="nobot">Reps</th>
				<th class="nobot">Sets</th>
				<th class="nobot">Weight</th>
				<th class="plus-minus">+  /  -</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" id="item-name" ng-model="activity.name"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.reps"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.sets"></td>
				<td><input class="form-control" id="item-quantity" ng-model="activity.weight"></td>
				<td><button class="btn btn-success" id="add" ng-click="addCardioWed()">+</button>
			</tr>
			<tr ng-repeat="activity in activitysArray | filter : { type: 'cardio', day: 'wednesday' }">
				<td id="td">{{activity.name}}</td>
				<td id="tdq">{{activity.reps}}</td>
				<td id="tdq">{{activity.sets}}</td>
				<td id="tdq">{{activity.weight}}</td>
				<td><button class="btn btn-danger" id="item-remove" ng-click="delete(activity._id)">-</button></td>
			</tr>
		</tbody>
	</table>
</div>